<h1>Платеж обрабатывается</h1>

<p>Платеж обрабатывается. Пожалуйста, подождите...</p>

<script type="text/javascript">
    function refresh() {
        window.location.reload(true);
    }

    setTimeout(refresh, 5000);
</script>
